<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/page/user/editPersonInfo.css" type="text/css">
<!-- 生产环境版本，优化了尺寸和速度 -->
<script src="/static/common/js/vue.js"></script>
<div class="person-info">
    <div class="person-info-title">
        <div><h4>>>个人信息</h4></div>
    </div>
    <div class="person-info-content" id="editPersonInfo">
        <table class="person-table table table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="2" class="text-center">个人信息</th>
            </tr>
            </thead>
            <form action="${pageContext.request.contextPath}/user/editPersonInfo.do" method="post">
                <tr>
                    <td width="50%">ID:</td>
                    <td width="50%"><input type="text" name="userId" :value="id" required></td>
                </tr>
                <tr>
                    <td>用户名:</td>
                    <td><input type="text" name="loginName" :value="userName" required></td>
                </tr>
                <tr>
                    <td>真实姓名:</td>
                    <td><input type="text" name="name" :value="name" required></td>
                </tr>
                <tr>
                    <td>角色:</td>
                    <td><input type="text" name="roleId" :value="roleId" required></td>
                </tr>
                <tr>
                    <td>状态:</td>
                    <td>
                        <select name="isActive" required>
                            <option value="1" :selected="isActive==1">激活</option>
                            <option value="2" :selected="isActive==2">停用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="#"><button class="btn btn-primary btn-info" type="submit">修改</button></a>
                        <a href="personInfo.html"><button class="btn btn-primary btn-info" type="button">返回</button></a>
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>
<script type="text/javascript" src="/static/js/main/user/editPersonInfo.js"></script>
