<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/page/birthday/birthdayAdd.css" type="text/css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="/static/common/js/vue.js"></script>

<div class="person-info">
    <div class="person-info-title">
        <div><h4>>>提醒新增</h4></div>
    </div>
    <div class="person-info-content">
        <table class="person-table table table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="2" class="text-center">提醒新增</th>
            </tr>
            </thead>
                <tr>
                    <td>主题:</td>
                    <td><input type="text" id="remindTitle" name="remindTitle" required></td>
                </tr>
                <tr>
                    <td>提醒日期:</td>
                    <td><input type="text" id="remindDate" name="remindDate" required></td>
                </tr>
                <tr>
                    <td>提醒类型:</td>
                    <td>
                        <select id="remindType" name="remindType" required>
                            <option value="1"> 生日</option>
                            <option value="2"> 账单</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>提醒频率:</td>
                    <td>
                        <select id="remindFre" name="remindFre" required>
                            <option value="1"> 每年</option>
                            <option value="2"> 每月</option>
                            <option value="3"> 每周</option>
                            <option value="4"> 每日</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>推送类型:</td>
                    <td>
                        <select id="pushType" name="pushType" required>
                            <option value="1"> 邮件</option>
                            <option value="2"> 短信(暂不支持)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>推送路径:</td>
                    <td>
                        <input type="text" id="remindPath" name="remindPath" required>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <a href="#"><button class="btn btn-primary btn-info remind-save" type="submit">保存</button></a>
                    </td>
                </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="/static/js/main/remind/remindAdd.js"></script>