<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/main.css" type="text/css">
<div class="product-list">

    <div class="product-title">
        <div><h4>>>生日记录列表</h4></div>
        <div class="razor-btn"><div class="btn-block btn-info text-center">新增</div></div>
    </div>
    <!--<div class="product-find">
        <form action="/product/myProductInfo.do" method="post">
            <div class="product-condition">
                <div><strong>名称：</strong><input type="text" name="name" size="16"/></div>
                <div class="special"><strong>时间：</strong><input type="text" name="starttime" size="16"/><strong>&#45;&#45;</strong>
                    <input type="text" name="endtime" size="16"/></div>
                <div><strong>appKey：</strong><input type="text" name="appkey" size="16"/></div>
                <div class="img"><span class="btn btn-info">查找</span></div>
            </div>
        </form>
    </div>-->
    <div class="product-content">
        <div>
            <table class="table table-bordered table-hover">
                <thead>
                <th width="6%">序号</th>
                <th width="14%">姓名</th>
                <th width="20%">生日农历</th>
                <th width="20%">创建时间</th>
                <th width="20%">生日次数</th>
                <th width="20%">操作</th>
                </thead>
                <tr>
                    <td>1</td>
                    <td>张盼</td>
                    <td>农历二月十九日</td>
                    <td>2019-02-06</td>
                    <td>1</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-info">修改</a>
                        <a href="#" class="btn btn-sm btn-danger">删除</a>
                    </td>
                </tr>
                <!--<c:forEach var="item" items="${razorProductList}">
                    <tr>
                        <td>${item.userId}</td>
                        <td>${item.name}</td>
                        <td>${item.description}</td>
                        <td>${item.date}</td>
                        <td>${item.productKey}</td>
                        <td>
                            <a href="#" class="btn btn-sm btn-info">修改</a>
                            <a href="#" class="btn btn-sm btn-danger">删除</a>
                            <a href="#" class="btn btn-sm btn-warning">关闭采集</a>
                        </td>
                    </tr>
                </c:forEach>-->
            </table>
        </div>
    </div>
    <!--<div class="product-page-tag">
        <page:pageTag url="${pageContext.request.contextPath}/myProductInfo.do?" page="${page}"/>
    </div>-->
</div>