<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="com.yarcl.springquart.dao.remind.RemindMapper">

        <sql id="allColumn">
            /*menu_id, menu_name, menu_url, is_active, is_delete, parent_id*/
        </sql>

            <resultMap id="rm" type="com.yarcl.springquart.bean.RazorMenu">
                <id property="menuId" column="menu_id"/>
                <result property="menuName" column="menu_name"></result>
                <result property="menuUrl" column="menu_url"></result>
                <result property="isActive" column="is_active"></result>
                <result property="isDelete" column="is_delete"></result>
                <result property="parentId" column="parent_id"></result>
            </resultMap>

            <select id="allMenuInfo" resultMap="rm">
                select
                  <include refid="allColumn"/>
                from
                  RAZOR_MENU
                limit #{param1}, #{param2}
            </select>

            <select id="getMenuCount" resultType="int">

                select count(1) from RAZOR_MENU

            </select>
		
	</mapper>