*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑","Microsoft Sans Serif", "宋体";
}
body{
    background-color: #e3e3e3;
}

.razor-nav{
    background-color: #3079e6;
    width:100%;
    height: 53px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius:8px;
}

.razor-nav .logo img{
    width:53px;
    height: 53px;
    margin-top: -18px;
    margin-left: 0px;
    border-radius: 100px 100px 70px 70px;
}

.razor-nav .logo .logo-title{
    height: 53px;
    font-size: 28px;
    color: #fff;
    line-height: 53px;
    margin-left: 10px;
}

.razor-nav .nav-right{
    float: right;
}

.razor-nav .nav-right ul>li{
    float: left;
    margin: -36px 15px 20px 0px;
    list-style: none;
}

.razor-nav .nav-right ul>li a{
    color: #fff;
    text-decoration: none;
}

.product-list th, .product-list td{
    text-align: center;
}

.product-list .product-title{
    height: 40px;
    margin-left: 20px;
    border-bottom: solid;
    border-bottom-color: #71baf1;
}

.product-list .product-title div{
    float: left;
}

.product-list .product-title .razor-btn div{
    margin: 12px 0 10px 15px;
    width:40px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.product-list .product-content{
    margin: 20px 20px;
    background-color: #fff;
    clear: both;
    border-radius: 10px;
}

.product-list .product-page-tag *{
    margin:0 auto;
    text-align: center;
    font-size: 14px;
    color: black;
}

.product-list .product-find {
    height: 40px;
    margin-left: 20px;
    font-size: 16px;
}

.product-list .product-find .product-condition{
    padding-top: 15px;
}

.product-list .product-find .product-condition div{
    float: left;
    width: 26%;
    text-align: center;
}

.product-list .product-find .product-condition div.special{
    width:38%;
}

.product-list .product-find .product-condition div.img{
    width:6%;
    margin-top: -4px;
}