<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/static/css/page/menu/menuInfo.css" type="text/css">
<div class="menu-list">

    <div class="menu-title">
        <div><h4>>>菜单列表</h4></div>
        <div class="razor-btn"><div class="btn-block btn-info text-center">新增</div></div>
    </div>
    <div class="menu-find">
        <form action="/menu/allMenuInfo.do" method="post">
            <div class="menu-condition">
                <div><strong>名称：</strong><input type="text" name="name" size="16"/></div>
                <div class="special"><strong>url路径：</strong><input type="text" name="starttime" size="16"/></div>
                <div></div>
                <div class="img"><span class="btn btn-info">查找</span></div>
            </div>
        </form>
    </div>
    <div class="menu-content">
        <table class="table table-bordered table-hover">
            <thead>
                <th width="8%">ID</th>
                <th width="13%">名称</th>
                <th width="25%">URL路径</th>
                <th width="8%">状态</th>
                <th width="10%">是否删除</th>
                <th width="8%">父ID</th>
                <th width="28%">操作</th>
            </thead>
            <tr>
                <td>1</td>
                <td>菜单名称</td>
                <td>/router/test</td>
                <td>激活</td>
                <td>否</td>
                <td>0</td>
                <td>
                    <a href="#" class="btn btn-sm btn-info">修改</a>
                    <a href="#" class="btn btn-sm btn-danger">删除</a>
                </td>
            </tr>
           <!-- <c:forEach var="item" items="${menuList}">
                <tr>
                    <td>${item.menuId}</td>
                    <td>${item.menuName}</td>
                    <td>${item.menuUrl}</td>
                    <td>${item.isActive}</td>
                    <td>${item.isDelete}</td>
                    <td>${item.parentId}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-info">修改</a>
                        <a href="#" class="btn btn-sm btn-danger">删除</a>
                    </td>
                </tr>
            </c:forEach>-->
        </table>
    </div>
</div>